body {
	background: black;
}

.button {
	position: absolute;
	z-index: 99;
}
#game_container {
	position: absolute;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}